body, html{
    height: 100%;
}

#head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
    
}
#head-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;

}


#head-nav {
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}