<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mighty Clicker</title>

</head>

<body ng-controller='mainControl'>
  <div class='container'>
       <div class='row'>
            <div class='col-xs-12'>
                <button ng-click='myRed()'>RED</button>
                <button ng-click='myBlue()'>BLUE</button>
                <div>
<!--                    score goes here-->
               
                </div>
            </div>
       </div>
       
  </div>
   
   
   
   
   
   
   
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src='services.js'></script>
</body>
</html>
