h1 {
  color: red;
  text-align: center;
  font-family: 'Lobster', cursive;
    }

body{
  font-family: 'Baloo', cursive;
  font-family: 'Diplomata SC', cursive;
  font-family: times, serif;
  background-image: url(http://www.bacon.rocks/bacon2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }

.style{
  display: inline-block;
  width: 20%;
  background-color: pink;
  padding: .5%;
  }

.color{
  color:green;
}
