/*h1 {color: darkgreen;
text-align: center;}

h3 {color: darkgreen;
text-align: center;}*/

p{line-height: 25px}

a:link{text-decoration:none }
a:hover{text-decoration: underline;}

#upper {text-transform: uppercase ;}

.change {color: darkgreen;
text-align: center;
font-family: Georgia}

img{float: left;
margin-right: 30px;}
