h1{
  color:red;
}
.container{
  background-image: url(/Users/user/Dev/assignments/exercises/speedClicker/img/gemma-evans-96992.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.row{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  /*color: white;*/
  /*background-color: #fff;*/
}

.column{
  background-color: white;
  opacity: 5%;
  border: 5px dashed darkred;
}
