<!DOCTYPE html>
<html lang="en" ng-app='myApp'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--    <link rel="stylesheet" href="">-->
</head>

<body ng-controller='mainControl'>
<div class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <input ng-model='newCartoon.imgUrl'>
            <input ng-model='newCartoon.title'>
            <input ng-model='newCartoon.description'>
            <button ng-click='myFunc(newCartoon)'>Submit</button>
        </div>
    </div>
</div>
<!--cartoon array here-->
    <div class='row'>
        <div class='col-xs-12' ng-repeat='cartoon in cartoons'>
            <img ng-src='{{cartoon.imgUrl}}'> 
            <h2>{{cartoon.title}}</h2>
            <p>{{cartoon.description}}</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="service.js"></script>
</body>

</html>