<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body ng-controller='mainControl'>
  <input type='text' ng-model='youSpeak'>
  <button ng-click='myFunc(youSpeak)'></button>
  <div>{{yoda.yodaSpeak}}</div>
  
   
   {{test}}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="app.js"></script>
    <script src='services.js'></script>
</body>
</html>
