.container {
    height: 100vh;
    background-image: url(img/nathan-shipps-230261.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}

.container1{
    background-color: azure;
    display: flex;
    flex-direction: column;
    
        
}
.row{
    display: flex;
    flex-direction: column;
    padding: 1%;
    
}
img{
    height: 300px;
    width: auto;
}