body{
  color: darkblue;
  }

img{
  width: 50%;
  height: 50%;
  float: left;
  padding: 2px;
  margin: 2px;
}
/*.container{
  position: relative;
  top: 4%;
}*/
li{
  display: inline;
}
.first{
  display:block;
  margin-bottom: 10px;

}
.nav{
  background-color: lightblue;
  width: 90%;
  position: sticky;
  top: 0;
  left: 5%;
  z-index: 10;
}

.second{
  border: 5px solid black;
  background-color: lightyellow;
  width: 40%;
  position:relative;
  left:30%;
  display: inline-block;
  padding: 1%;
}
