<div class='container'>
    <div id='thirdView' class='row'>
        <div id='thirdCol' class='col-xs-12'>
            <h1>About</h1>
            <p>This project was to show our skills in angular and make an angualr site. I found this project hard. I would love to say this was a breeze but if not for the help of Eric, Dan, and online Eric I would not have fisnished. So i decided to dedicate this page to all the people that helped this project come a reality. A big thank you!</p>
        </div>
    </div>
</div>
