.container{
  display: flex;
  height: 100%;
  padding:10%;
  margin: 10%;
  flex-direction: column;
  align-items: center;
  background-color: skyblue;
}
.add{
  padding:10px;
  marging:10px;
  height: 100px;
  background-color: lightyellow;
}
.subtract{
  padding:10px;
  marging:10px;
  height: 100px;
  /*background-color: lightyellow;*/
}
.mult{
  padding:10px;
  marging:10px;
  height: 100px;
  background-color: lightyellow;
}
#body{
  background-color: lightgreen;
}
